[submodule "submissions/0xa620a02c4cc2d20d/week1/random_number_generator/lib/forge-std"]
	path = submissions/0xa620a02c4cc2d20d/week1/random_number_generator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
