[submodule "submissions/0xa620a02c4cc2d20d/week1/random_number_generator/lib/forge-std"]
	path = submissions/0xa620a02c4cc2d20d/week1/random_number_generator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "submissions/0xa620a02c4cc2d20d/week1/random_number_generator/lib/openzeppelin-contracts"]
	path = submissions/0xa620a02c4cc2d20d/week1/random_number_generator/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "submissions/0xa620a02c4cc2d20d/week4/smart-contract/lib/forge-std"]
	path = submissions/0xa620a02c4cc2d20d/week4/smart-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
