@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 20%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 20%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 20%;

		--primary: 157 100% 47%;
		--primary-foreground: 0 0% 100%;

		--secondary: 166 53% 73%;
		--secondary-foreground: 0 0% 20%;

		--muted: 0 0% 96%;
		--muted-foreground: 0 0% 40%;

		--accent: 210 20% 98%;
		--accent-foreground: 0 0% 20%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 0 0% 100%;

		--border: 0 0% 79%;
		--input: 0 0% 79%;
		--ring: 157 100% 47%;

		--radius: 0.5rem;
	}

	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}

@layer components {
	.btn-primary {
		@apply bg-primary text-primary-foreground px-4 py-2 rounded-md hover:opacity-90 transition-opacity;
	}

	.btn-secondary {
		@apply bg-secondary text-secondary-foreground border border-border px-4 py-2 rounded-md hover:bg-opacity-90 transition-colors;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

nextjs-portal {
  display: none;
}

