# Dependencies
node_modules/
.pnp/
.pnp.js
yarn.lock
package-lock.json

# Testing
coverage/
.nyc_output/

# Production
build/
dist/
out/
.next/

# Environment Variables
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

# Flow
flow.json
flow-testnet.json
flow-mainnet.json
*.account.json
*.key
*.pem
*.private.json

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache and Temporary files
.cache/
.temp/
.tmp/
.eslintcache
.stylelintcache

# System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 