@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scorll Bar */
/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px; /* Adjust width if you want */
  background: transparent; /* No background on the track */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background-color: #39FF14; /* Bright green thumb */
  border-radius: 4px; /* Rounded corners on thumb */
  border: 2px solid transparent; /* Optional: adds padding around thumb */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #39FF14 transparent; /* thumb and track */
}
